---
---

@import "{{ site.theme }}";
@import "gridism";

.contactbox {
    width: 100px;
    padding: 10px;
}

.getstarted, .getstarted:visited {
	padding: 20px;
	background: #428BCA;
	text-align: center;
	border-radius: 6px;
	color: white;
	border: 1px solid white;
	display:block;
	cursor:pointer;
}

.getstarted:hover {
	color: white;
	border: 1px solid black;
	text-decoration: none;
}
